# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
/keys
/backend/keys

node_modules
/frontend/.env
/backend/.env
/compiler/.env
/compiler/codes
/compiler/outputs
/.vscode
/Online_Judge-HLD_Doc.pdf